
//variables

$yellow-tint:rgb(211, 194, 41);
$cyan-tint: #14F4FE;
$cyan-tint-dark:#2ea2a8;
$cyan-tint-light:#adfbff;
$light-grey-tint:rgb(173, 173, 173);
$background-colour:rgb(23, 23, 43);

//mixins

*, *::before, *::after{
    box-sizing: border-box;
}

@mixin frame{
    border: 3px solid $cyan-tint;
    border-radius: 15px;
    background-color: $background-colour;
    color:$cyan-tint;
    padding:10px 15px;
}

@mixin inputComponent{
    cursor: pointer;
    &:hover{
        color:$cyan-tint-dark;
        border-color: $cyan-tint-dark;
    }
    &:active{
        color:$cyan-tint-light;
        border-color: $cyan-tint-light;
    }
    &:disabled{
        color:$light-grey-tint;
        border-color: $light-grey-tint;
        cursor:inherit;
    }
}

body{
    color: $cyan-tint;
    background-color: $background-colour;
    font-family:Arial, Helvetica, sans-serif
}

//layout

.header-logo{
    width:200px;
}

.flex-row{
    display: flex;
}

.flex-column{
    display:flex;
    flex-direction: column;
}

.center{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.character-select-container{
    width:200px;
    color:$yellow-tint;
    // border: 2px solid $yellow-tint;  //testing
    min-height: 100px;
}

.character-container{
    display: flex;
    flex-direction: row;
    //border: 2px solid $yellow-tint;   //testing

}

.flex-reverse{
    flex-direction: row-reverse;
}

// components

.text-box{
    width:150px;
    height:100px;
    overflow-wrap: break-word;
    @include frame;
}

.image-container{
    display:flex;
    justify-content: center;
    img{
        // border:1px solid pink;   //testing
        box-sizing: border-box;
        max-height:400px;
    }
}

.hidden{
    visibility: hidden;
}

.container-frame{
    @include frame;
    width:150px;
    h2{
        margin:5px 0;
    }
}

input.button-round{
    @include frame;
    @include inputComponent;
}

.question-container{
    margin:10px 25px;
}

.question-button{
    display:block;
    border:none;
    background-color: $background-colour;
    color: $cyan-tint;
    margin: 15px auto;
    font-size: 1em;
    cursor:pointer;
    &:hover{
        color:$cyan-tint-dark
    }
    &:active{
        color:$cyan-tint-light;
    }
}

.character-dropdown{
    position:relative;
    @include frame;
    cursor:pointer;
    outline: none;
    &:hover{
        border-color: $cyan-tint-dark;
    }
    &:active{
        border-color: $cyan-tint-light;
    }
    option{
        &:hover{
            background-color: #f32112;
        }
    }
}