@import "./partials/variables.scss";
@import "./components.scss";

//mixins

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    color: $cyan-tint;
    background-color: $background-colour;
    font-family:Arial, Helvetica, sans-serif
}

//layout

.header-logo{
    width:200px;
}

.flex-row{
    display: flex;
}

.flex-column{
    display:flex;
    flex-direction: column;
}

.center{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.character-select-container{
    width:200px;
    color:$yellow-tint;
    // border: 2px solid $yellow-tint;  //testing
    min-height: 100px;
}

.character-container{
    display: flex;
    flex-direction: row;
    margin:5px 20px;
    //border: 2px solid $yellow-tint;   //testing

}

.flex-reverse{
    flex-direction: row-reverse;
}

